@function new-breakpoint($query: $feature $value) {
    @return $query;
  }
  
  @mixin media($query: $feature $value) {
    $media-query: "screen and (" + nth($query , 1 ) + ": " + nth($query, 2) + ")";
    @media #{$media-query} {
      @content;
    }
  }
  
  $large-desktop: new-breakpoint(max-width 77.438em);// max 1239.008px
  $small-desktop: new-breakpoint(max-width 63.938em);// max 1023.008px
  $tablet: new-breakpoint(max-width 47.938em); // max 767.008px
  $mobile: new-breakpoint(max-width 39.938em);// max 639.008px